
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(77, 77, 77, 0.144);
  transition: 0.35s ease-in-out;
}
.toggle, .menu, .cover, .covering {
  display: none;
}

.loading {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  justify-content: center;
}
nav {
  background: white !important;
}
.brand-logo {
  color: black;
  margin-left: 1rem
}
h5 {
  color: black
}
.post-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.posts {
  width: 60rem;
  border: solid 1px black;
  box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.7);
  margin: 1rem auto;
  background: white;
  display: flex;
  border-radius: 0.75%;
  cursor: pointer;
  overflow-x: scroll !important;
  overflow-wrap: break-word !important;
}
.search{
  margin-right:5rem !important;
  width: 30%
}
input {
  background-color: rgb(255, 255, 255) !important;
  padding: 0 1.8rem !important
}

.material-icons {
  position: absolute;
  color: black;
  padding: 0 0.1rem;
  cursor: pointer;
}
img {
  display: block;
  margin: 1rem 2rem;
  width: 50rem;
  height: auto;
}
.divide {
  background: rgba(110, 110, 110, 0.164);
  display: block;
  margin: 0;
  min-width: 3rem !important;
  font-size: 13px;
}
.posts .ups {
  margin-top: 2rem;
  position: relative;
  text-justify: center;
  text-align: center;
  padding-right: 0.95rem;
}
.posts h5{
  margin: 1rem
}
.comment {
  position: relative;
  color: #000000 !important;
  font-size: 20px ;
}
.cmnt-p {
  font-weight: bolder;
}
.cmnt-p span {
  position: absolute;
  margin-top: -0.15rem
}
.link {
  color: rgb(0, 0, 136) !important;
  cursor: pointer;
}
.post-comment {
  max-width: 100%;
  border: solid 1px black;
  box-shadow: 0.5px 0.75px 0.5px #000000;
  margin: 0.2rem auto;
  background: white;
  display: block;
  border-radius: 0.15%;
  padding: 0 1rem;
  overflow-wrap: break-word;
}
.post-title {
  width: 100%;
  border: solid 1px black;
  box-shadow: 0.5px 0.75px 0.5px #000000;
  margin: 0.5rem auto;
  overflow-wrap: break-word;
}
.back {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  display: block;

}
.post-replies {
  position: relative;
  border-left:solid 2px black;
  margin: 1rem 2.5rem;
  padding: 0 1rem ;

}
.replies-post {
  position: relative;
  border-left:solid 2px black;
  margin: 1rem 2.5rem;
  padding: 0 1rem;
 
}

.post-post {
  position: relative;
  border-left:solid 2px black;
  margin: 1rem 2.5rem;
  padding: 0 1rem;
}
.re-ups {
  color: black;
  padding: 0
}
.re-ups .a {
  color: black !important;
  font-weight: bolder;
}
.re-ups span {
  padding-left: 2rem;
  font-weight: bolder;
}
.searches:hover {
  text-decoration: underline;
}
.search-p {
  display: block;
  margin: 1rem 3rem !important
}
video {
  display: block !important;
  margin: 1rem 2rem !important;
  width: 50rem !important
}
.button-top {
  z-index: 1000;
  position: fixed;
  right: 5%;
  top: 90%;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 5%;
  box-shadow: 1px 1px 5px black;
  transition: 0.35s ease-in-out;
  width: 8rem;
  height: 2.5rem;
  display: none
}
.mobile-only {
  display: none
}
.button-top:hover {
  text-decoration: underline;
  color: #000000;
  background-color: white;
}
.post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post .left-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post .avatar {
  width: 50rem;
  height: 3rem;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.post .new {
  width: 50rem;
  height: 7rem;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  margin-top: 8rem;
  align-items: center;
  justify-content: center;
}
.post .other {
  width: 50rem;
  height: 7rem;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  margin-top: 16rem;
  align-items: center;
  justify-content: center;
}
.post .avatar-skeleton {
  width: 100%;
  height: 100%;
  line-height: 1;
}
.switch {
  position: absolute;
  right: 50%
}
.switch.whit label .lever {
  background-color: black;
}
.switch .whit label input[type=checkbox]:checked+.lever {
  background-color: black;
}
.switch .whit label input[type=checkbox]:checked+.lever:after {
  background-color: black;
}
.dark-mode {
  position: absolute;
  margin-left: -1rem;
  top: 0.15rem;
}

@media (max-width: 1024px) {
  .posts {
    width: 80%
  }
  img {
    width: 90%;
    margin: 0 auto
  }
  video {
    width: 90% !important;
    margin: 0 auto !important
  }
 
  .back {
    width: 80%
  }
}
@media (max-width: 460px) {
  .mobile-only {
    display: block
  }
  .posts {
    width: 95%
  }
  .back {
    width: 95%
  }
  .post-post {
    display: none
  }
  .divide {
    font-size: 12px
  }
  #myBtn {
    display: none !important
  }

  .switch {
    display: none;
  }
  .search {
    display: none !important
  }
  .toggle {
    width: 28px;
    height: 30px;
    margin: 20px auto;
    position: absolute;
    right: 1rem;
    display: block;
    cursor: pointer;
}
.toggle div {
    width: 25px;
    height: 3px;
    margin: 4px auto;
    background: rgb(122, 121, 121);
    backface-visibility: hidden;
    transition: 0.35s;
}
.btn-active .one {
    background-color: rgb(65, 56, 56);
    transform: rotate(-45deg) translate(-4px, 6px);
}
.btn-active .two {
opacity: 0;
}
.btn-active .three {
    background-color: rgb(85, 85, 85);
    transform: rotate(45deg) translate(-4px, -6px);
}
.menu-active {
    display: block;
    right: -3rem;
    top: -1rem;
    transition: all 0.35s ease-in;
    position: absolute;
}

.animate {
    animation: slide-menu 0.45s linear forwards
}
.menu-items {
  margin: 0 1rem;
}
.menu-active .menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 7.2rem;
    width: 19.3rem;
    right: 2.9rem;
    z-index: 10;
    transition: all 0.35s ease-in;
    position: absolute;
}

.mobile-switch {
  position: absolute;
  top: -1rem;

}
.mobile-switch span {
  padding: 0 2rem;
  line-height: 2.0;
}
.mobile-switch .material-icons {
  color: white;
}
.heading {
  margin-top: 3rem;
  margin-left: 1rem
}
.covering {
    background-color: rgb(0, 0, 0, 30%);
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
}
.mobile-search{
  position: relative;
  top: 3.75rem;
  width: 15.8rem;
  right: 6.5rem
}
.nav-wrapper {
  z-index: 10;
  position: relative;
}
}
@media(max-width: 300px) {
  .search {
    width: 18%
  }
}
@keyframes slide-menu {
  0%{
      transform: translate(50%, 25%)
  }
  100% {
      transform: translate(0%, 25%)
  }
}